.idea
node_modules
coverage
dist

/celerybeat-schedule.db
/demo/backend/demo.sqlite3

/docs/.vitepress/cache
/package-lock.json

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
.pytest_cache/
.ruff_cache/
.coverage
